/* Application wide styles */







.Button:hover {

    -fx-text-fill: #92bd1e;

    -fx-font-weight: bold;
    -fx-font-size: 17px;
    border-radius:12px 0 12px 0;
    box-shadow:3px 10px 12px #999;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#D473D4 0%, #D473D4 25%, #D473D4 75%, #D473D4 100%);
    -fx-text-fill: white;
}
.label {
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
}


.date-picker .month-year-pane{
    -fx-background-color: #92bd1e;
    -fx-padding: 5 5 5 5;
}
.date-picker .day-name-cell{
    -fx-background-color: black;
    -fx-text-fill:#D473D4;

}
.calendar-grid {
    -fx-hgap: 4 ;
    -fx-vgap: 4 ;
    -fx-padding: 4 ;
}

.calendar-header {
    -fx-alignment: center ;
    -fx-font-size: 18pt ;
    -fx-font-weight: bold ;
}



.list-cell:odd {
    -fx-cell-hover-color: #D473D4;
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #D473D4;
    -fx-text-fill: white;
}

.menue:hover{
    -fx-text-fill: #92bd1e;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-underline: True;
    -fx-position-shape:True;
    -fx-text-wrap:Ture;
    -fx-select-on-focus :True;
    -fx-hover-stroke-width:20;




}

.Image:hover  {
    -fx-min-width: 100px;
    -fx-pref-width: 200px;
    -fx-max-width: 300px;
    -fx-border-width: 4;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 3.1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}




